*{
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    background-color: rgb(17, 17, 17);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: white;
}
nav{
   position: sticky;
   top: 0;
   overflow: hidden;
   z-index: 1;
    background-color: rgb(243, 248, 243);
}
section{
    height: 100vh;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:rgb(31, 30, 30)
}
nav a:hover{
    background-color: rgb(22, 21, 21);
    color: rgb(245, 242, 242);
}
nav li:first-child{
    margin-right: auto;
}
nav li:last-child:hover{
    color: black;
}
.sidebar{
   position: fixed;
   top: 0;
   right: 0;
   height: 100vh;
   width: 250px;
   z-index: 999;
   background-color: white;
   backdrop-filter: blur(10px);
   box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width:100%
}
.sidebar li:hover{
    background-color: black;
}
#resume{
  
    background-color: #e0e0e0;
    border : 2px solid red;
}
.image{ 
   position: absolute;
   top: 30%;
   left: 55%;
}
.image img{
    position: relative;
    height:  235px;
    width: 250px;
    border-radius: 50%;
    border: 10px solid rgb(240, 237, 237);
    right: 0;
}
.left{
    position: absolute;
    padding: 7%;
    top:31%;
    left: 19%;
    font-size: 30px;
    text-align: center;
    color: aliceblue;
}

/* second page */
svg{
    background-color: black;
}

/* heading */
.heading{
    position: relative;
    top: 12%;
  font-size: 50px;
  color: azure;
  text-decoration: underline;
  
  left: 40%;
}
.boox{
    position: relative;
    top:22%
}
.cont {
    position: relative;
    top: 25%;
    left: 20%;
    width: 50%;
    background-color: #e0e0e0;
  
    margin-bottom: 10px;
}
.skills {
    text-align: center;
    padding: 10px;
    color: white;
   
}
.web {
    width: 50%;
    background-color: orange;
}
.cpp {
    width: 60%;
    background-color: orange;
}
.js {
    width: 65%;
    background-color: orange;
}
.python {
    width: 60%;
    background-color: orange;
}

/* third page */
.projects{
    position: relative;
    top: 12%;
    left: 40%;
    font-size: 50px;
    color: white;
    text-decoration: underline ;
}





/* fourth page */
.contacts{
    position: relative;
    top:12%;
    left: 40%;
    font-size: 50px;
    color: white;
    text-decoration: underline;
}



















/* footer */
.footer{
    height: 150px;
    background-color: white;
    align-items: 
    center;
    
}